<div *ngIf="(announcements && announcements.length) else missingDataMessage">
  <h1 class="header">Announcements</h1>
  <mat-list class="contentList"  role="list">
    <mat-list-item class="contentListItem" role="listitem" *ngFor="let announcement of announcements">
        <h2 matLine class="header">{{ announcement.headline }}</h2>
        <h4 matLine>- {{ announcement.date | date: 'dd/MM/yyyy, HH:mm:ss' }}</h4>
        <p matLine>{{ announcement.text }}</p>
        <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>

<ng-template #missingDataMessage>
  <p class="missingDataMessage">
    Warning: Unable to fetch questions and announcements.
  </p>
</ng-template>