table {
  min-width: 90%;
  margin: auto;
}

.mat-header-row {
  background-color: rgba(0, 0, 0, .8);
}

.mat-header-cell {
  font-size: 1rem;
  color: white;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, .1);
}
