<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <span class="spacer"></span>
    <div class="nav">
      <a class="nav-tabs navigationBarLink" routerLink="/announcement">Home</a>
      <a class="nav-tabs navigationBarLink" routerLink="/questionsandanswers">Q&A</a>
      <a class="nav-tabs navigationBarLink" routerLink="/user">Users</a>
      <a *ngIf="isLogin | async else loginButton" class="nav-tabs navigationBarLink" (click)="logout()">Logout</a>
      <ng-template #loginButton>
        <a class="nav-tabs navigationBarLink" routerLink="/login">Login</a>
      </ng-template>
    </div>
    <!-- <button mat-icon-button class="ui-icon" aria-label="Application toolbar">
      <mat-icon>menu</mat-icon>
    </button> -->
  </mat-toolbar-row>
</mat-toolbar>
<div class="container componentContent">
  <router-outlet></router-outlet>
</div>