.navigationBarTitle {
  margin-left: 60px;
  font-weight: bold;
}

.navigationBarLink {
  margin-left: 20px;
  color: wheat;
  font-size: 1rem;
  font-weight: 200;
  text-decoration: none;
  cursor: pointer;
}