.componentContent {
  margin-top: 30px;
}

.header {
  text-align: center;
  color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.contentList {
  list-style: none;
  margin-top: 50px;
  // margin-left: 100px;
  // margin-right: 100px;
}

.contentListItem {
  margin-bottom: 20px;
}

.missingDataMessage {
  font-weight: bold;
  text-align: center;
  color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}